@tailwind base;
@tailwind components;
@tailwind utilities;

/* Yahan sirf default styles shamil karein, jaise body background */

body {
    /* Example: Thora clean background de dein */
    background-color: #f7f7f7; 
}